# docker compose --env-file .env.cloud --profile cloud up

SPRING_DATASOURCE_URL={}
DB_USERNAME=
POSTGRES_PASSWORD=

GCLOUD_ADC_PATH=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_GROUP_ID=

SUPABASE_STORAGE_URL=http://127.0.0.1:1
SUPABASE_SERVICE_KEY=unused-until-d2
SUPABASE_STORAGE_ENSURE_BUCKET=false

DB_PORT=
STORAGE_PORT=
SUPABASE_JWT_SECRET=unused
SUPABASE_ANON_KEY=unused
STORAGE_FILE_SIZE_LIMIT=
