POSTGRES_PASSWORD={INSERT-POSTGRES-PASSWORD}

TELEGRAM_BOT_TOKEN={INSERT-BOT-TOKE}
TELEGRAM_CHAT_GROUP_ID={INSERT-CHAT-GROUP-ID}

SUPABASE_JWT_SECRET={INSERT_SECRET_KEY}
SUPABASE_SERVICE_KEY={INSERT_SERVICE_KEY}
SUPABASE_ANON_KEY={INSERT_ANON_KEY}

DB_PORT={INSERT_DB_PORT}
STORAGE_PORT={INSERT_STORAGE_PORT}

STORAGE_FILE_SIZE_LIMIT=8388608
