# docker compose --env-file .env.cloud --profile cloud up

SPRING_DATASOURCE_URL={}
DB_USERNAME=
POSTGRES_PASSWORD=

GCLOUD_ADC_PATH=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_GROUP_ID=

CLIPS_STORE=gcs
CLIPS_GCS_BUCKET=
CLIPS_ENSURE_BUCKET=false

DB_PORT=
STORAGE_PORT=
SUPABASE_JWT_SECRET=unused
SUPABASE_SERVICE_KEY=unused
SUPABASE_ANON_KEY=unused
STORAGE_FILE_SIZE_LIMIT=
